/* ==UserStyle==
@name           Code
@namespace      github.com/openstyles/stylus
@updateURL      https://raw.githubusercontent.com/Eshnek/UserStyles/main/General/Code.css
@version        1.0.0
@description    Format code blocks
@author         Eshnek
@preprocessor   stylus
==/UserStyle== */

// Standalone Code Tags
code:not(pre code) {
    background-color: #7777771a !important;
    // color: #bbb !important;

    padding: 2px 4px !important;
    padding-bottom: 1px !important;
    padding-top: 1px !important;

    // Alternative: 3px solid #8888882a
    border: 2px solid #8888883a !important;
    border-radius: 8px !important;

    font-size: 0.85em;

    // box-shadow: 4px 4px 8px #11111144; // Looks better without

    // margin-right: 1px !important; // Text sometimes touches it
}

// Code Blocks
pre:has(code),
.markdown-body > pre // Github
{
    border: 3px solid #77777720 !important;

    box-shadow: 0px 0px 16px 2px #ffffff0a;
    // box-shadow: 0px 0px 16px 0px #7777774a;

    overflow: visible !important;

    white-space: break-spaces;

    max-height: none;
}
.markdown-body pre > code // Github
{
    // Lines do not go past the end of the pre
    white-space: pre-wrap;
}
.overflow-auto, // Github
div:has(pre > code) {
    overflow: visible !important;
}

// Block Quotes
blockquote {
    background: #77777710 !important;

    border-radius: 2px;
}