/* ==UserStyle==
@name           StackOverflow
@namespace      github.com/openstyles/stylus
@updateURL      https://raw.githubusercontent.com/Eshnek/UserStyles/main/StackOverflow/StackOverflow.css
@version        0.0.2
@author         Eshnek
@preprocessor   stylus
==/UserStyle== */

@-moz-document domain("stackoverflow.com"), domain("stackexchange.com") {
    // Advertisement is nearly invisible
    .js-freemium-cta,
    .s-sidebarwidget,
    #hot-network-questions
    {
        opacity: .0;
    }

    body>.container {
        max-width: 75vw;
    }
    #content {
        max-width: none;
    }
}